.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.list-client {
  text-decoration: none;
  color: olive;
  list-style: none;
  padding: 25px;
}

.list-client:hover {
  text-decoration: none;
  color: darkolivegreen;
  list-style: none;
  font-weight: bolder;
}

.form-center {
  display: flex;
  justify-content: center;
}

.hiveLi {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foodDet{
  margin: 0.5vh 3vh ;
}

.card-hive {
  display: flex;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
